@font-face {
    font-family: vis;
    src: url(font/8bitlimr.ttf);
}

@font-face {
    font-family: ppc;
    src: url(font/rg.ttf);
}

body {
    font-family: 'vis';
}

a {
    font-family: 'vis';
    border: 2px solid black;
    background-color: red;
    color: black;
    padding: 8px;
    text-decoration: none;
}

a:hover {
    border: 2px solid red;
    background-color: black;
    color: red;
}

.gme {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.gme:target {
    visibility: visible;
    opacity: 1;
}

.pt {
    margin: auto;
    width: 80%;
    height: 80%;
}

a.close {
    float: right;
    top: 0;
}

canvas {
    border: 2px black solid;
    background-color: white;
}

#player {
    display: none;
}