@font-face {
    font-family: vis;
    src: url(font/8bitlimr.ttf);
}

@font-face {
    font-family: ppc;
    src: url(font/rg.ttf);
}

body {
    font-family: 'vis';
    margin: 0px;
    background-image: radial-gradient( #3876BF, #20436b, #192655, black);
}

.container {
    display: inline-flex;
    flex-direction: column;
    padding-top: 140px;
    gap: 40px;
    justify-items: center;
}

h1 {
    text-align: center;
    color: white;
    opacity: 1;
    transition: all 0.5s;
}

h1.hide {
    opacity: 0;
}

nav {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), #030c2c, rgba(0, 0, 0, 1));
    padding: 10px;
    opacity: 50%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    transition: all .8s;
}

nav:hover {
    padding: 10px;
    opacity: 100%;
    transition: all .5s;
}

.i {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-image: radial-gradient( white, #F3F0CA, #b98551);
    padding: 20px;
    text-align: center;
    width: 40%;
    border: 5px black double;
    font-family: 'ppc';
    font-size: 20px;
    z-index: 10;
}

canvas {
    position: fixed;
}

input {
    padding: 20px;
    font-family: 'vis';
    font-size: larger;
    background-color: red;
    color: black;
    border: 1px solid black;
    box-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black;
    transition: all .4s;
}

input:hover {
    color: white;
    border: 1px solid red;
    box-shadow: 3px 0 red, -3px 0 red, 0 3px red, 0 -3px red;
    background-color: black;
    transition: all .7s;
}

.partii {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto;
    align-content: center;
}

.tle {
    padding: 20px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), #080e27, rgba(0, 0, 0, 1));
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: -1;
}

.sections {
    margin: auto;
    display: flex;
    gap: 50px;
    z-index: 10;
    grid-row-start: 3;
}

.sections>* {
    padding: 15px;
    transition: all .4s;
    background-color: red;
    box-shadow: 0 10px red, 5px 5px red, -5px 5px red, 10px 0 red, -10px 0 red, 0 -10px red, 5px -5px red, -5px -5px red, 0 15px black, 10px 10px black, -5px 10px black, -10px 5px black, 10px 5px black, 15px 0 black, -15px 0 black, 0 -15px black, 5px -10px black, -5px -10px black, 10px -5px black, -10px -5px black;
}

.sections>*:hover {
    color: white;
    padding: 15px;
    transition: all .7s;
    background-color: black;
    box-shadow: 0 6px black, 3px 3px black, -3px 3px black, 6px 0 black, -6px 0 black, 0 -6px black, 3px -3px black, -3px -3px black, 0 9px red, 3px 6px red, -3px 6px red, -6px 3px red, 6px 3px red, 9px 0 red, -9px 0 red, 0 -9px red, 3px -6px red, -3px -6px red, 6px -3px red, -6px -3px red;
}

.info {
    grid-row-start: 3;
    margin: auto;
    width: 300px;
    text-align: center;
}

.sinf {
    grid-column-start: 1;
    grid-column-end: 3;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    align-self: center;
    text-align: center;
    font-family: 'ppc';
    font-size: 20px;
    z-index: 10;
    padding: 25px;
    border: 5px double black;
    background-image: radial-gradient( white, #F3F0CA, #b98551);
}

#navp.ani {
    opacity: 0;
    transition: all .4s;
}

.disc {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s;
}

.con {
    border: 8px black double;
    background-color: white;
    text-align: center;
    width: 40%;
    padding: 5px;
    transition: all .7s;
}

.con1 {
    padding: 25px;
}

a {
    text-decoration: none;
    color: black;
    transition: all .4s;
}

a:hover {
    color: red;
    transition: all .4s;
}

.con:has(a:hover) {
    border: 8px rgb(153, 0, 0) double;
    background-color: black;
    color: white;
    transition: all .7s;
}

#ifo {
    padding: 25px;
    box-shadow: 10px 0 rgba(255, 255, 255, 0.671), 0 10px rgba(255, 255, 255, 0.671), -10px 0 rgba(255, 255, 255, 0.671), 0 -10px rgba(255, 255, 255, 0.671), 20px 0px black, 10px 10px black, 10px -10px black, -20px 0 black, -10px 10px black, -10px -10px black, 0 20px black, 0 -20px black;
    background-color: white;
    transition: all .7s;
    position: relative;
}

#ifo.anif {
    opacity: 0;
    transition: all .4s;
}