@font-face {
    font-family: vis;
    src: url(font/8bitlimr.ttf);
}

@font-face {
    font-family: ppc;
    src: url(font/rg.ttf);
}

body {
    font-family: 'vis';
    margin: 0px;
    background-color: rgb(0, 0, 105);
}

h1 {
    text-align: center;
    color: white;
}

nav {
    background-color: black;
    padding: 10px;
    opacity: 50%;
    position: fixed;
    width: 100%;
    top: 0;
}

nav:hover {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    opacity: 100%;
}

div.i {
    margin: auto;
    background-color: wheat;
    padding: 20px;
    text-align: center;
    width: 50%;
    border: 5px black double;
    font-family: 'ppc';
    font-size: 20px;
}

button {
    font-family: 'vis';
    border: 2px black solid;
    background-color: red;
}

button:hover {
    border: 2px white solid;
    background-color: black;
    color: white;
}